# Ignorar la carpeta node_modules en cualquier subcarpeta
**/node_modules/

# Archivos de entorno
**/.env

# Archivos de configuración sensibles
**/config.json
**/aws-credentials.json

# Archivos temporales y logs
**/.log
**/.cache/
**/tmp/

# Archivos del IDE
.idea/
.vscode/
*.swp
*.swo
*.sublime-*

# Build y dist
**/dist/
**/build/
**/out/

# Otros
.DS_Store
yarn.lock
package-lock.json
